<div class="container">

    <h1>Plataforma</h1><br>
    
    <div class="row">

        <div class="col-md-4 mb-4">

            <div class="card">

                <img class="card-tamanho-img img-fluid" src="img/Super-Mario-World.jpg">

                <div class="card-body">
                    <h5 class="card-title">Super Mario World</h5>
                </div>

            </div>

        </div>

        <div class="col-md-4 mb-4">

            <div class="card">

                <img class="card-tamanho-img img-fluid" src="img/Kirby-Super-Star.jpg">

                <div class="card-body">
                    <h5 class="card-title">Kirby Super Star</h5>
                </div>

            </div>

        </div>

        <div class="col-md-4 mb-4">

            <div class="card">

                <img class="card-tamanho-img img-fluid" src="img/Donkey-Kong-Country.jpg">

                <div class="card-body">
                    <h5 class="card-title">Donkey Kong Country</h5>
                </div>

            </div>

        </div>

    </div>

</div>