.card-tamanho-img{
    height: 400px;
    object-fit: cover;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 0 20px rgb(255, 215, 0);
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}