<div class="container">

    <h1>Terror</h1><br>
    
    <div class="row">

        <div class="col-md-4 mb-4">

            <div class="card">

                <img class="card-tamanho-img img-fluid" src="img/Silent-Hill.jpg">

                <div class="card-body">
                    <h5 class="card-title">Silent Hill</h5>
                </div>

            </div>

        </div>

        <div class="col-md-4 mb-4">

            <div class="card">

                <img class="card-tamanho-img img-fluid" src="img/Resident-Evil-2.jpg">

                <div class="card-body">
                    <h5 class="card-title">Resident Evil 2</h5>
                </div>

            </div>

        </div>

        <div class="col-md-4 mb-4">

            <div class="card">

                <img class="card-tamanho-img img-fluid" src="img/Dino-Crisis.jpg">

                <div class="card-body">
                    <h5 class="card-title">Dino Crisis</h5>
                </div>

            </div>

        </div>

    </div>

</div>