<div class="container">

    <h1>RPG</h1><br>
    
    <div class="row">

        <div class="col-md-4 mb-4">

            <div class="card">

                <img class="card-tamanho-img img-fluid" src="img/EarthBound.jpg">

                <div class="card-body">
                    <h5 class="card-title">EarthBound</h5>
                </div>

            </div>

        </div>

        <div class="col-md-4 mb-4">

            <div class="card">

                <img class="card-tamanho-img img-fluid" src="img/Chrono-Trigger.jpg">

                <div class="card-body">
                    <h5 class="card-title">Chrono Trigger</h5>
                </div>

            </div>

        </div>

        <div class="col-md-4 mb-4">

            <div class="card">

                <img class="card-tamanho-img img-fluid" src="img/Super-Mario-RPG.jpg">

                <div class="card-body">
                    <h5 class="card-title">Super Mario RPG</h5>
                </div>

            </div>

        </div>

    </div>

</div>