<div class="container">

    <h1>Aventura</h1><br>
    
    <div class="row">
        
        <div class="col-md-4 mb-4">

            <div class="card">

                <img class="card-tamanho-img img-fluid" src="img/Ocarina-of-Time.png">

                <div class="card-body">
                    <h5 class="card-title">The Legend Of Zelda Ocarina Of Time</h5>
                </div>

            </div>

        </div>

        <div class="col-md-4 mb-4">

            <div class="card">

                <img class="card-tamanho-img img-fluid" src="img/Super-Mario-64.jpg">

                <div class="card-body">
                    <h5 class="card-title">Super Mario 64</h5>
                </div>

            </div>

        </div>

        <div class="col-md-4 mb-4">

            <div class="card">

                <img class="card-tamanho-img img-fluid" src="img/GoldenEye-007.jpg">

                <div class="card-body">
                    <h5 class="card-title">GoldenEye 007</h5>
                </div>

            </div>

        </div>

    </div>

</div>